<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #C71585
;">
    <a class="navbar-brand" [routerLink]="['/home']">
      Início
    </a>
  
    <button class="navbar-toggler" type="button"
            (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  
    <div class="collapse navbar-collapse"
         [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/feed']">Feed</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contato']">Contato</a>
        </li>
      </ul>
    </div>
  </nav>