<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">Sejam bem vindos ao meu blog!</h1>
        </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-12">
                <p class="text-center">You know who I am. </p>
            </div>
        </div>
        <div class="parallax"></div>
        <div class="row mt-5 mb-5">
            <div class="col-md-12 d-flex justify-content-center">
                <button class="btn btn-outline-dark" routerLink='/feed'>Ver o feed</button>
            </div>
        </div>
    </div>