.parallax {
    background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p1/2412070-cyber-circuit-future-technology-concept-background-vetor.jpg');
    min-height: 500px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}